In [1]:
import pandas as pd

# Definición de la clase
class IterableClass:
    
    # Función inicial o constructor
    def __init__(self, list_values = None): # None es para que sea opcional
        self.list_values = list_values
        self.dateframe = pd.read_csv(r'df_consolidated_clean.csv') # lectura del archivo
        self.i = 0

In [2]:
# Instancia del objeto
IC = IterableClass()

# 5.1. Eliminación de columna que se creo en por error "Unnamed: 0" .drop('Unnamed: 0', axis=1)
# 5.2. Reseteo de index por la acción de combinación de DataFrames .reset_index().drop(['index'], axis=1)
IC.dateframe.drop('Unnamed: 0', axis=1).reset_index().drop(['index'], axis=1)

,headers_text,headers_link
0,África abre sus puertas a inversiones verdes e...,https://www.semana.com/mundo/africa/articulo/a...
1,Inundaciones en Brasil: un testimonio impactan...,https://www.semana.com/mundo/articulo/inundaci...
2,Responsable climático de la ONU critica fuerte...,https://www.semana.com/mundo/articulo/responsa...
3,"“El cambio climático es real y es aterrador”, ...",https://www.semana.com/cultura/cine/articulo/e...
4,“Los últimos ocho años fueron los más caluroso...,https://www.semana.com/sostenible/medio-ambien...
...,...,...
2039,Cinco nuevos saltamontes descubiertos en las s...,https://www.semana.com/medio-ambiente/articulo...
2040,Descuartizan oso para amenazar a Parques Nacio...,https://www.semana.com/oso-de-anteojos-descuar...
2041,El río que no se deja llevar por la corriente\...,https://www.semana.com/el-rio-que-no-se-deja-l...
2042,¿Qué hacer con la gente que vive en los páramo...,https://www.semana.com/paramos-que-hacer-con-l...
2043,Dos mamíferos y 63 aves fueron acogidos por el...,https://www.semana.com/sostenible/medio-ambien...

In [3]:
df = IC.dateframe
# Supongamos que tienes un DataFrame llamado 'df' con 2044 registros

# Dividir en grupos de 300 registros
n = 300
grupos = [df[i:i+n] for i in range(0, len(df), n)]

# Guardar cada grupo en un archivo CSV
for i, grupo in enumerate(grupos):
    nombre_archivo = f'df_clean_parts/df_clean_{i+1}.csv'
    grupo.to_csv(nombre_archivo, index=False)
    print(f"Guardado: {nombre_archivo}")

Guardado: df_clean_parts/df_clean_1.csv
Guardado: df_clean_parts/df_clean_2.csv
Guardado: df_clean_parts/df_clean_3.csv
Guardado: df_clean_parts/df_clean_4.csv
Guardado: df_clean_parts/df_clean_5.csv
Guardado: df_clean_parts/df_clean_6.csv
Guardado: df_clean_parts/df_clean_7.csv
Guardado: df_clean_8.csv